.keyword {
	font-family: 'Lato', Sans-serif;
	padding: 5px 11px;
	font-size: 12px;
	line-height: 29px;
	border-radius: 4px;
	color: #ffffff;
	background-color: #bdc3c7;

	&:hover {
		background-color: #7f8c8d;
	}
}